<div class="load_body">
    <div class="Bbody" ng-form="form">
        <div class="Bbody_input">
            <input type="text" placeholder="已验证手机/邮箱" name="phone" ng-model="user.phone" validator="required, phone" maxlength="11">
            <!--<input type="text" placeholder="已验证手机/邮箱" maxlength="11" ng-model="Tex" ng-change="Input()"/>-->
            <input type="password" placeholder="密码" maxlength="18" name="password" ng-model="user.password" validator="required, password">
            <!--<span>{{span1}}</span>-->
            <!--<span>{{span2}}</span>-->
        </div>
        <div class="Bbody_but">
            <dian-ji>
                <button class="login-btn" validation-submit="form" ng-click="submit()">登录</button>
            </dian-ji>

            <p>还没账号？</p>
            <a ui-sref="register">注册</a>
        </div>
    </div>
</div>