<div class="register_body">
    <div class="Bbody">
        <div class="Bbody_input">
            <input type="text" placeholder="已验证手机/邮箱" maxlength="11"/>
            <input type="password" placeholder="密码"/>
            <input type="password" placeholder="密码"/>
            <span>不能为空</span>
            <span>不能为空</span>
            <button ng-click="Code()">获取验证码</button>
        </div>
        <div class="Bbody_but">
            <button ng-click="confirm_reg()">确认注册</button>
            <a ui-sref="load">返回登陆</a>
        </div>
    </div>
</div>