<div ng-controller="search">
        <app-header
                my-left="取消"
                my-main="false"
                my-right="搜索"
                my-one="城市"
                my-there="公司规模"
                my-two="薪资"
        >
        </app-header>


            <!--主体内容-->
            <app-body my-date="arr2"></app-body>

    <!--尾部-->
    <dian-ji>
        <div class="footer">
            <a ui-sref="example" ng-class="{'active':false}">
                职位
            </a>

            <a ui-sref="search"  ng-class="{'active':true}">
                搜索
            </a>

            <a  ng-click="ac()" ng-class="{'active':false}">
                我的
            </a>
        </div>
    </dian-ji>
</div>