.bo_header{

  height: rem(80);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00B38A;
  div{
    width: rem(50);
    height: rem(50);
  }

  .left{
    font-size: rem(34);
  }
  .main{
    font-size: rem(26);
    width: rem(150);
  }
  .right{
    font-size: rem(24);
  }
}
//我的收藏
.colle_body{
  padding-top: 0;
}