.Go{
  width: 95%;
  height: rem(80);
  background: #00B38A;
  font-size: rem(22);
  text-align: center;
  line-height: rem(80);
  color: #fff;
  //margin-top: 20%;
  position: relative;
  top: rem(400);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
}