.Go{
  width: 95%;
  height: rem(80);
  margin: 0 auto;
  background: #00B38A;
  font-size: rem(22);
  text-align: center;
  line-height: rem(80);
  color: #fff;
  margin-top: 20%;
  display: block;
}